{%load funcion_tag%}
<div class="row">
    <div class="col-2">
        {%if product.image%}
        <img src="{{product.image.url}}" alt="ImagenProducto" with="70" height="70">
        {%endif%}
    </div>
    <div class="col">
        <div class="row">
            
            <strong>Producto: {{product.title}}</strong>
        </div>

        <div>
            
            <strong>Unidades Compradas: {{i.quantity}}</strong>
        </div>

        <div>
            <strong class="text-primary">Precio Unitario: Col {{product.price | precio_tag}}</strong>
        </div>
    </div>

</div>