{% extends 'base.html'%}
{%load funcion_tag%}
{%block content%}

<div class="col-3">
    {% if product.image%}
    <img src="{{product.image.url}}" alt="ImagenProducto" width="300" height="300">
    {%endif%}
</div>
<div class="mt-4 col">

    <div class="h3 alert alert-success">Enhorabuena Producto agreagado al carrito</div>

    <div class="mt-2">
        <a href="{% url 'product' product.slug%}">{{product.title}}</a>
    </div>

    <div class="h3 text-danger">COL {{product.price | precio_tag}}  </div>

</div>

{%endblock%}