{%extends 'base.html'%}
{%load funcion_tag%}
{%block content%}
{%if cart.product.exists%} <!--Si hay productos en el carrito, mostrar los producto-->
<div class="mt-5 col-8">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col">Cantidad</th>
                <th scope="col">Precio</th>
                <th scope="col">Tipo Cliente</th>
            </tr>
        </thead>

        <tbody>
            {%for i in cart.product_related%}
            {%with product=i.product%}
            <tr>
                <th>{{forloop.counter}}</th>
                <th>{%if product.image%}
                    <img src="{{product.image.url}}" alt="ProductoImagen" width="70" height="70">
                    {%endif%}
                </th>
                <th>
                    <a href="{%url 'product' product.slug%}">{{product.title}}</a>
                </th>
                
                <th>
                    {{i.quantity}}
                </th>

                <th>
                    <span class="font-weight-bold text-success">COL {{product.price | precio_tag}}</span>
                    {%include 'carts/snippets/remove.html'%}
                </th>

                
                <th>{{cart.user}}</th>
                
            </tr>
            {%endwith%}
            {%endfor%}
        </tbody>
    </table>
</div>
<div class="mt-5 col">
    <div class="card">
        <div class="class-body">
            <div class="mt-2">
                <h4>Subtotal({{cart.product.count}}):</h4> <span class="text-danger">COL {{cart.subtotal | precio_tag}}</span>
            </div>
            <div class="mt-2 text-align-center">  
                <a class="btn btn-warning" href="{%url 'orden'%}">Pagar Ahora</a>
            </div>
        </div>
    </div>
</div>
{%else%}<!--Si el carro esta vacion invitar a comprar -->
<div class="col">
    <p class="h3">Carrito vacio</p>
    <a href="{%url 'tienda'%}">Comprar ahora</a>
</div>
{%endif%}
{%endblock%}